<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="menu-icon"
    aria-label="Button with menu item to open navigation."
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Apokryph</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="icon favorite-icon"
    aria-label="icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="icon share-icon"
    aria-label="icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
